.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(239, 239, 239);
  &-list-item {
    &-wrap {
      margin: 25rpx 10px;
      padding: 25px 20px;
    }
    &-view {
      &-wrap {
        display: flex;
        &-avatar-me {
          width: 60px;
          height: 60px;
          margin-top: 8px;
          margin-left: 15px;
          image {
            width: 100%;
            height: 100%;
          }
        }
        &-avatar-other {
          width: 60px;
          height: 60px;
          margin-top: 8px;
          margin-right: 15px;
          image {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-time {
        font-size: 24px;
        color: rgb(178, 178, 178);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        text {
          padding: 2px;
          border-radius: 4px;
        }
      }
      &-text-other {
        display: flex;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
        padding: 0 15px;
        // width: 65%;
        &-audio {
          border-radius:10rpx;
          background-color:white;
          box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
          padding:5rpx 8rpx 0 20rpx;
          font-size:24rpx;
          line-height:70rpx;
          text {
            padding: 15rpx;
            color: #999999; 
          }
        }
      }
      &-text-me {
        display: flex;
        border-radius: 10px;
        background-color: rgb(146, 230, 72);
        box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
        padding: 15px;
        width: 65%;
        &-audio {
          border-radius:10rpx;
          background-color:white;
          box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
          padding:5rpx 8rpx 0 20rpx;
          font-size:24rpx;
          line-height:70rpx;
          text {
            padding: 15rpx;
            color: #999999; 
          }
        }
      }
      &-image {
        border-radius: 10px;
        width: 60%;
        image {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
  &-scrollview {
    background-color: rgb(239, 239, 239);
    height: calc(100vh - 190px);
  }
  &-input {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    z-index: 2000;
  }
}
.right {
  float: right;
}