.page {
  // display: flex;
  // flex-direction: column;
  // // justify-content: center;
  // align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(239, 239, 239);
  &-avatar-list {
    display: flex;
    align-items: center;
    text {
      display: block;
      font-size: 24px;
      color: #999;
    }
    image {
      display: block;
      margin-right: 20px;
      width: 60px;
      height: 60px;
    }
  }
  &-list-item {
    &-wrap-me {
      margin: 25rpx 10px;
      padding: 25px 20px;
    }
    &-wrap-other {
      margin: 25rpx 10px;
      padding: 25px 20px;
    }
    &-view {
      &-wrap-me {
        display: flex;
        justify-content: flex-end;
        &-avatar {
          width: 60px;
          height: 60px;
          margin-top: 8px;
          margin-left: 15px;
          image {
            width: 100%;
            height: 100%;
          }
        }
        &-avatar-other {
          width: 60px;
          height: 60px;
          margin-top: 8px;
          margin-right: 15px;
          image {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-wrap-other {
        display: flex;
        justify-content: flex-start;
        &-avatar {
          margin-top: 4px;
          margin-right: 15px;
          image {
            width: 60px;
            height: 60px;
          }
        }
        &-avatar-other {
          margin-top: 8px;
          margin-right: 15px;
          image {
            width: 60px;
            height: 60px;
          }
        }
      }
      &-wrap-sys {
        display: flex;
        justify-content: center;
      }
      &-time {
        font-size: 24px;
        color: rgb(178, 178, 178);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        text {
          padding: 2px;
          border-radius: 4px;
        }
      }
      &-text-other {
        display: flex;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
        padding: 6rpx 18rpx;
        &-audio {
          border-radius:10rpx;
          background-color:white;
          box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
          padding:5rpx 8rpx 0 20rpx;
          font-size:24rpx;
          line-height:70rpx;
          text {
            padding: 15rpx;
            color: #999999; 
          }
        }
      }
      &-text-me {
        display: flex;
        border-radius: 10px;
        background-color: rgb(146, 230, 72);
        box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
        padding: 6rpx 18rpx;
        &-audio {
          border-radius:10rpx;
          background-color:white;
          box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
          padding:5rpx 8rpx 0 20rpx;
          font-size:24rpx;
          line-height:70rpx;
          text {
            padding: 15rpx;
            color: #999999; 
          }
        }
      }
      &-text-sys {
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: #999999; 
      }
      &-image {
        border-radius: 10px;
        width: 60%;
        image {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
  &-scrollview {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    // height: 100vh;
    height: calc(100vh - 100px);
  }
  &-input {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    z-index: 2000;
  }
}
.right {
  float: right;
}