.page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-timeline {
    height: 100%;
    width: 100vw;
  }
  &-tab {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}
