.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  &-empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-scrollview {
    height: calc(100vh - 180px);
    // height: 100px;
    overflow-y: scroll;
  }
  &-list-item-view {
    margin: 25px;
    box-sizing: border-box;
    &-text {
      background-color: lavenderblush;
    }
  }
  &-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    background-color: lavender;
    align-items: center;
    &-wrap {
      width: 600px;
    }
    &-content {
      margin-left:15px;
      padding-left:15px;
      box-sizing: border-box;
      border:1px solid lavender;
      border-radius:15px;
      background:white;
      height: 120px;
    }
    &-view {
      box-sizing: border-box;
      padding: 25px;
      width: 100%;
      height: 100%;
    }
    &-icon {
      border-radius:50%;
    }
  }
}