.home {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  &-empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-scrollview {
    // flex-grow: 1;
    // 使得滑动区域的内容一直处于最新的地方，并自动下滑
    height: calc(100vh - 170px);
    // overflow-y: scroll;
  }
  &-list-item {
    &-view {
      margin: 25px;
      box-sizing: border-box;
      &-text {
        background-color: lavenderblush;
      }
      &-image {
        image {
          width: 60%;
        }
      }
      &-time {
        font-size: 18px;
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        text {
          padding: 2px;
          border-radius: 4px;
          background-color: lightgray;
        }
      }
    }
  }
  &-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: lavender;
    align-items: center;
    &-content {
      margin: 10px;
      margin-left: 30px;
      width: 560px;
      font-size: 30px;
      line-height: 32px;
      height: 60px;
      border:1px solid lavender;
      background:white;
    }
    &-btn {
      margin-left: 16px;
      button {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: lavenderblush !important;
        border: 1px solid lavenderblush !important;
      }
    }
  }
}