.home {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
  // background-color: rgb(235, 235, 235);
  &-empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-scrollview {
    // flex-grow: 1;
    // 使得滑动区域的内容一直处于最新的地方，并自动下滑
    background-color: rgb(239, 239, 239);
    height: calc(100vh - 160px);
    // padding-bottom: 180px;
    // overflow-y: scroll;
  }
  &-list-item {
    &-wrap {
      margin: 25rpx 10px;
      padding: 25px 20px;
    }
    &-view {
      &-wrap {
        display: flex;
        &-avatar {
          width: 60px;
          height: 60px;
          margin-top: 8px;
          margin-right: 15px;
        }
      }
      &-time {
        font-size: 18px;
        color: rgb(178, 178, 178);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        text {
          padding: 2px;
          border-radius: 4px;
          // background-color: lightgray;
        }
      }
      &-text {
        display: flex;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow:10rpx 10rpx 5rpx -2rpx lightgrey;
        padding: 15px;
        width: 65%;
      }
      &-image {
        border-radius: 10px;
        width: 60%;
        image {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
  &-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: rgb(247, 247, 247);
    align-items: center;
    &-content {
      border-radius: 10px;
      width:560px;
      font-size:30px;
      line-height:60px;
      height:60px;
      // border:1px solid lavender;
      background:white;
      padding:5px;
      margin:10px;
    }
    &-btn {
      &-image {
        padding-top: 15px;
        margin-right:10px;
        margin-left:20px;
      }
      &-send {
        padding-top: 15px;
        margin: 0 20rpx;
      }
      button {
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: lavenderblush !important;
        border: 1px solid lavenderblush !important;
      }
    }
    &-box {
      padding: 10rpx;
      flex-grow: 1;
    }
  }
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5;
  background: #000000;    
  z-index: 1;
}
.modal {
  position: absolute;
  border-radius: 10px;
  z-index: 20;
  background-color: #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  // height: 474px;
  &-title {
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  &-content {
    display: flex;
    padding: 10px 70px 30px;
    flex-direction: column;
    color: rgb(187, 187, 187);
    font-size: 28px;
    &-text {
      word-wrap: break-word;
    }
  }
  &-btn {
    text-align: center;
    color: rgb(94, 207, 70);
    height: 100px;
    line-height: 100px;
    border-top: 1px solid rgb(187, 187, 187);
  }
}
.hide {
  display: none;
}
.wux-fab-button--bottomRight {
  bottom: 160rpx !important;
}
.wux-grids {
  background-color: rgb(247, 247, 247) !important;
}