.home {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  &-empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-scrollview {
    // flex-grow: 1;
    // 使得滑动区域的内容一直处于最新的地方，并自动下滑
    height: calc(100vh - 170px);
    // overflow-y: scroll;
  }
  &-list-item {
    &-view {
      margin: 25px;
      box-sizing: border-box;
      &-text {
        margin: 25px;
        border-radius: 10px;
        background-color: rgb(176, 228, 111);
        // background-color: rgb(255, 255, 255);
        padding: 15px;
        width: 60%;
      }
      &-image {
        image {
          width: 60%;
        }
      }
      &-time {
        font-size: 18px;
        color: rgb(178, 178, 178);
        display: flex;
        justify-content: center;
        text-align: center;
        text {
          padding: 2px;
          border-radius: 4px;
          // background-color: lightgray;
        }
      }
    }
  }
  &-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: lavender;
    align-items: center;
    &-content {
      margin: 10px;
      margin-left: 30px;
      width: 560px;
      font-size: 30px;
      line-height: 32px;
      height: 60px;
      border:1px solid lavender;
      background:white;
    }
    &-btn {
      margin-left: 16px;
      button {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: lavenderblush !important;
        border: 1px solid lavenderblush !important;
      }
    }
  }
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5;
  background: #000000;    
  z-index: 1;
}
.modal {
  position: absolute;
  border-radius: 10px;
  z-index: 20;
  background-color: #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  // height: 474px;
  &-title {
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  &-content {
    display: flex;
    padding: 10px 70px 30px;
    flex-direction: column;
    color: rgb(187, 187, 187);
    font-size: 28px;
    &-text {
      word-wrap: break-word;
    }
  }
  &-btn {
    text-align: center;
    color: rgb(94, 207, 70);
    height: 100px;
    line-height: 100px;
    border-top: 1px solid rgb(187, 187, 187);
  }
}
.hide {
  display: none;
}