.home {
  height: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  &-empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // &-scrollview {
  //   box-sizing: border-box; 
  //   padding-bottom: 60px; 
  //   height: 100%; 
  //   overflow-y: scroll; 
  //   -webkit-overflow-scrolling: touch //为了使滚动流畅，sectionA 添加属性
  // }
  &-list-item-view {
    margin: 25px;
    box-sizing: border-box;
    &-text {
      background-color: lavenderblush;
    }
  }
  &-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    background-color: lavender;
    align-items: center;
    &-wrap {
      width: 600px;
      // height: 60px; 
    }
    &-content {
      margin-left:15px;
      padding-left:15px;
      box-sizing: border-box;
      border:1px solid lavender;
      border-radius:15px;
      background:white;
      height: 120px;
    }
    &-view {
      box-sizing: border-box;
      padding: 25px;
      width: 100%;
      height: 100%;
      // background-color: lavenderblush;
    }
    &-icon {
      // border:1px solid lavender;
      border-radius:50%;
    }
  }
}