.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
  &-img {
    padding-top: 60rpx;
    width: 750rpx;
    height: 1334rpx;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .btn {
    position:absolute;
    bottom:140rpx;
    height:70rpx;
    line-height:70rpx;
    font-size:30rpx;
    border-radius:6rpx;
  }
}