.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    &-avatar {
      margin:50rpx;
      padding:50rpx auto 0;
      width:200rpx;
      height:200rpx;
      image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
      margin-top: 50px;
      margin-bottom: 100px;
    }
    &-home {
      width: 100%;
      margin-bottom:30rpx;
      button {
        background-color: rgb(43, 141, 226);
        color: white;
      }
    }
    &-long {
      width: 100%;
      button {
        background-color: rgb(43, 141, 226);
        color: white;
      }
    }
  }
}